<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0" *ngFor="let imgItem of headerImageLink">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg"
                [ngStyle]="{'background-image': 'url(' +imgItem+ ')'}">
                    <div class="instagram__text">
                        <a href="#">@ Shopping test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>