html,
body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
}

figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
a {
    text-decoration: none;
    background-color: transparent;
    }